body {
    margin: auto;
    padding: 25px;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

#main {
    margin: 50px 0px;
}

.testimonial {
    border-radius: 20px;
    padding: 25px 32px;
}

.testimonial>img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

h3 {
    font-weight: 600;
    font-size: 1.25rem;
}


h4 {
    font-weight: 600;
    font-size: 1rem;
    margin: auto;
}

h5 {
    font-weight: 500;
    font-size: 1rem;
    margin: auto;
}

p {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1rem;
}

#test1 {
    background-color: hsl(263, 55%, 52%);
}

#test1>h3 {
    color: hsl(0, 0%, 100%);
}

#test1>h4 {
    color: hsl(0, 0%, 81%);
}

#test1>h5 {
    color: hsl(0, 0%, 100%);
}

#test1>p {
    color: hsl(0, 0%, 100%);
}

#test2 {
    background-color: hsl(217, 19%, 35%);
}

#test2>h3 {
    color: hsl(0, 0%, 100%);
}

#test2>h4 {
    color: hsl(210, 46%, 95%);
}

#test2>h5 {
    color: hsl(210, 46%, 95%);
}

#test2>p {
    color: hsl(210, 46%, 95%);
}

#test3 {
    background-color: hsl(0, 0%, 100%);
}

#test3>h3 {
    color: hsl(0, 0%, 100%);
}

#test3>h4 {
    color: hsl(210, 46%, 95%);
}

#test3>h5 {
    color: hsl(0, 0%, 100%);
}

#test3>p {
    color: hsl(210, 46%, 95%);
}

#test4 {
    background-color: hsl(219, 29%, 14%);
}

#test4>h3 {
    color: hsl(0, 0%, 100%);
}

#test4>h4 {
    color: hsl(0, 0%, 81%);
}

#test4>h5 {
    color: hsl(0, 0%, 100%);
}

#test4>p {
    color: hsl(0, 0%, 100%);
}

#test5 {
    background-color: hsl(0, 0%, 100%);
}

#test5>h3 {
    color: hsl(0, 0%, 100%);
}

#test5>h4 {
    color: hsl(0, 0%, 81%);
}

#test5>h5 {
    color: hsl(0, 0%, 100%);
}

#test5>p {
    color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {}